@media (max-width: 1200px){
    main{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-content{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .main-content h2{
        margin-bottom: 2%;
        font-size: 1.6em;
        text-align: center;
    }
    .main-content .text p{
        width: 100%;
        font-size: .9em;
        font-weight: 290;
        margin-bottom: 15%;
        text-align: center;
    }
    aside.techs .cards-conteiner{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    aside.techs .cards-conteiner .card{
        width: 140px;
        height: 140px;
    }
    main figure img{
        width: 290px;
        height: 290px;
        border-radius: 50%;
        margin-top: 20%;
        border: 1px solid black;
    }
}
@media (max-width: 600px){
    header {
        text-align: center;
    }
    header h1{
        font-size: 1.6em;
    }
    header nav{
        font-size: .8em;
    }
    .main-content h2{
        margin-bottom: 2%;
        font-size: 1.6em;
        text-align: center;
    }
    .main-content .text p{
        width: 100%;
        font-size: .9em;
        font-weight: 290;
        margin-bottom: 15%;
        text-align: center;
    }
    aside.techs .cards-conteiner{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 6%;
    }
    aside.techs .cards-conteiner .card{
        width: 80px;
        height: 80px;
    }
    main figure img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 20%;
        border: 1px solid black;
    }
}